<div class="container my-3">
  <h2>Filter</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-1</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Filter:</strong> by length
      </p>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
        </tr>
        <tr *ngFor="let item of databylenght">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.gender }}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <strong>Ex-2</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Filter:</strong> by gender
      </p>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
        </tr>
        <tr *ngFor="let item of databygender">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.gender }}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <strong>Ex-3</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Filter:</strong> by nth item
      </p>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        <tr *ngFor="let item of databynthitem">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.gender }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
