<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="fromevent">FromEvent</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="interval">Interval</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="offrom">Offrom</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="toarray">To-Array</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="custom">Custom</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="map">Map</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="filter">Filter</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="concat">Concat</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="merge">Merge</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="mergemap">MergeMap</a>
      </li>
    </ul>
    <ul class="list">
      <li>
        <a routerLink="concatmap">ConcatMap</a>
      </li>
    </ul>
  </div>
</div>
