<div class="container my-2">
  <h2>Merge</h2>
  <br />

  <div class="row">
    <div class="col-md-4">
      <strong> Source -01 |Tech Channel</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Tech video list:</strong> = 1,2,3,4,5
      </p>
      <br />
    </div>

    <div class="col-md-4">
      <strong> Source -02 |Comedy Channel</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>Comedy video list:</strong>1,2,3
      </p>
      <br />
    </div>

    <div class="col-md-4">
      <strong>Source -03 |New Channel</strong>
      <hr />
      <p class="bg-light py-2 px-3 border roudend">
        <strong>News video list:</strong>1,2,3,4
      </p>
      <br />
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your Channel(Subscribe)</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
