<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rxjs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="observal">Observable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="promise">Promise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="container">Container</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>