<div class="container my-3">
  <h2>Of and From</h2>
  <br />
  <strong>Ex - 01 (OF)</strong>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-3 px-2 border rounded">
        <strong>Data: </strong>of('Anup','Priyank','Karan')
      </p>
      <hr />
      <ul id="elContainer"></ul>
    </div>

    <div class="col-md-6">
      <p class="bg-light py-3 px-2 border rounded">
        <strong>Data: </strong>of(&#123; a: 'Krushik', b: 'Priyank', c:
        'Karan'&#125;)
      </p>
      <hr />
      <ul>
        <li><strong>a : </strong>{{ objmsg.a }}</li>
        <li><strong>b : </strong>{{ objmsg.b }}</li>
        <li><strong>c : </strong>{{ objmsg.c }}</li>
      </ul>
    </div>

    <strong>Ex - 02 (FROM)</strong>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <strong>Array</strong>
        <p class="bg-light py-3 px-2 border rounded">
          <strong>Data: </strong>from(['Utam','Priyank','Savan'])
        </p>
        <hr />
        <ul id="elContainer3"></ul>
      </div>

      <div class="col-md-4">
        <strong>Promise</strong>
        <p class="bg-light py-3 px-2 border rounded">
          <strong>Data: </strong>Promise to Observable
        </p>
        <hr />
        <ul id="elContainer4"></ul>
      </div>

      <div class="col-md-4">
        <strong>String</strong>
        <p class="bg-light py-3 px-2 border rounded">
          <strong>Data: </strong>String to Observable
        </p>
        <hr />
        <ul id="elContainer5"></ul>
      </div>
    </div>
  </div>
</div>
